{% extends 'partials/base.html' %}
{% block content %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3>Form</h3>
                </div>
            </div>
        </div>
        <div class="col-md-8">
              <div class="card shadow my-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" alt="img">
                        </div>
                        <div class="col-md-8">
                            <small>20th June</small>
                            <hr>
                            <a class="h3" href="">First Post</a>
                            <p class="text-justify my-3">
                                Documentation and examples for Bootstraps powerful, responsive navigation header, the navbar. Includes support for branding, navigation, collapse plugin, and more.
                            </p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="card shadow my-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" alt="img">
                        </div>
                        <div class="col-md-8">
                            <small>20th June</small>
                            <hr>
                            <a class="h3" href="">First Post</a>
                            <p class="text-justify my-3">
                                Documentation and examples for Bootstraps powerful, responsive navigation header, the navbar. Includes support for branding, navigation, collapse plugin, and more.
                            </p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="card shadow my-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" alt="img">
                        </div>
                        <div class="col-md-8">
                            <small>20th June</small>
                            <hr>
                            <a class="h3" href="">First Post</a>
                            <p class="text-justify my-3">
                                Documentation and examples for Bootstraps powerful, responsive navigation header, the navbar. Includes support for branding, navigation, collapse plugin, and more.
                            </p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="card shadow my-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" alt="img">
                        </div>
                        <div class="col-md-8">
                            <small>20th June</small>
                            <hr>
                            <a class="h3" href="">First Post</a>
                            <p class="text-justify my-3">
                                Documentation and examples for Bootstraps powerful, responsive navigation header, the navbar. Includes support for branding, navigation, collapse plugin, and more.
                            </p>
                        </div>
                    </div>
                </div>
              </div>  
        </div>
    </div>
</div>
{% endblock %}
